:root {
    --artikel-background-color: #F9FAFB;
    --artikel-border-color:#DEE2E6;
    --artikel-border-radius: 1px;
    --artikel-border-style: solid;
    --artikel-border-width: 1px;

    --artikel-beschrijving-color: #346D9D;

    --artikel-prijs-color: black;
    --artikel-prijs-font-size: 1rem;
    --artikel-prijs-font-weight: bold;

    --artikel-categorie-font-size: 0.8rem;

    --artikel-stock-font-size: 0.8rem;
    --artikel-stock-font-weight: bolder;
    --artikel-stock-color: #097B09;
    --artikel-stockLimit-color: orange;
    --artikel-stockCTA-color: #740202;

    --standaard-transition: 0.2s ease, transform 0.2s ease;
}

.artikel {
    transition: var(--standaard-transition);
}

.price {
    color: var(--artikel-prijs-color);
    font-size: var(--artikel-prijs-font-size);
    font-weight: var(--artikel-prijs-font-weight);
}

.beschrijving {
    color: var(--artikel-beschrijving-color);
    font-size: var(--artikel-prijs-font-size);
    font-weight: var(--artikel-prijs-font-weight);
}

.categorie {
    color: var(--primary-text-color);
    font-size: var(--artikel-categorie-font-size);
}

.stock {
    font-size: var(--artikel-stock-font-size);
    font-weight: var(--artikel-stock-font-weight);
    color: var(--artikel-stock-color);
}

.stockLimit {
    font-size: var(--artikel-stock-font-size);
    font-weight: var(--artikel-stock-font-weight);
    color: var(--artikel-stockLimit-color);
}

.stockCTA {
    font-size: var(--artikel-stock-font-size);
    font-weight: var(--artikel-stock-font-weight);
    color: var(--artikel-stockCTA-color);
}

@media (max-width: 576px) {
    .custom-border-bottom-sm {
        border-bottom: var(--artikel-border-width) solid var(--artikel-border-color);
    }
}