:root {
    --artikel-background-color: #F9FAFB;
    --artikel-border-color: #E5E7EB;
    --artikel-border-radius: 1px;
    --artikel-border-style: solid;

    --artikel-hover-border-color: #111827;

    --artikel-prijs-color: #0d490a;
    --artikel-prijs-font-size: 1.2rem;
    --artikel-prijs-font-weight: bold;

    --artikel-categorie-font-size: 0.85rem;

    --artikel-stock-font-size: 0.90rem;
    --artikel-stock-font-weight: 0.85rem;
    --artikel-stock-color: #6f926d;
    --artikel-stockLimit-color: orange;
    --artikel-stockCTA-color: #740202;

    --standaard-transition: 0.2s ease, transform 0.2s ease;
}

.artikel {
    background-color: var(--artikel-background-color);
    border: var(--artikel-border-radius) var(--artikel-border-style) var(--artikel-border-color);
    transition: --artikel-border-radius var(--standaard-transition);
}

.artikel:hover {
    border: var(--artikel-border-radius) var(--artikel-border-style) var(--artikel-hover-border-color);
    transform: scale(1.05);
}

.price {
    color: var(--artikel-prijs-color);
    font-size: var(--artikel-prijs-font-size);
    font-weight: var(--artikel-prijs-font-weight);
}

.beschrijving {
    color: var(--primary-text-color);
    font-size: var(--artikel-prijs-font-size);
    font-weight: var(--artikel-prijs-font-weight);
}

.categorie {
    color: var(--primary-text-color);
    font-size: var(--artikel-categorie-font-size);
    font-weight: var(--artikel-prijs-font-weight);
}

.stock {
    font-size: var(--artikel-stock-font-size);
    font-weight: var(--artikel-stock-font-weight);
    color: var(--artikel-stock-color);
}

.stockLimit {
    font-size: var(--artikel-stock-font-size);
    font-weight: var(--artikel-stock-font-weight);
    color: var(--artikel-stockLimit-color);
}

.stockCTA {
    font-size: var(--artikel-stock-font-size);
    font-weight: var(--artikel-stock-font-weight);
    color: var(--artikel-stockCTA-color);
}