:root {
    --categorie-background-color: #F9FAFB;
    --categorie-border-color: #E5E7EB;
    --categorie-border-radius: 10px;
    --categorie-font-weight-bold: bold;
    --categorie-title-cursor: pointer;

}

.categorieen {
    background-color: var(--categorie-background-color);
    border: 1px solid var(--categorie-border-color);
    border-radius: var(--categorie-border-radius);
}

.categorieen h2 {
    color: var(--primary-text-color);
    font-size: 1.2rem;
}

.categorieen ul {
    list-style: none;
}

/*Hoofd-categorieen*/
.depth-0 {
    font-weight: var(--categorie-font-weight-bold);
}

/*sub-categorieen met childs*/
.categorieen  > ul > li > ul  li:has(ul) > span {
    font-weight: var(--categorie-font-weight-bold);
}

/*sub-categorieen zonder childs*/
.categorieen  > ul li:not(:has(ul)) {
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.category-title {
    border: 1px solid transparent;
    border-radius: var(--categorie-border-radius);
    cursor: var(--categorie-title-cursor);
    display: block;
    /*width: 100%;*/
    /*white-space: normal;*/
    word-break: break-word;
}

.category-title:hover {
    background-color: var(--button-primary-background-color-hover);
    border: 1px solid var(--categorie-border-color);
    border-radius: var(--categorie-border-radius);
    color: var(--button-primary-color);
    text-shadow: 0 0 0.5px currentColor;
}